#menuentry '{{ title }}' {
#	set isofile='/boot/iso/{{ filename }}'
#    set imgdevpath=(hd0,2)
#	loopback loop $isofile
#	linux (loop)/arch/boot/x86_64/vmlinuz-linux img_dev=$imgdevpath img_loop=$isofile earlymodules=loop
#	initrd (loop)/arch/boot/intel-ucode.img (loop)/arch/boot/amd-ucode.img (loop)/arch/boot/x86_64/initramfs-linux.img
#}

menuentry '{{ title }}' {
	iso_path="/boot/iso/{{ filename }}"
	export iso_path
	img_path="/dev/disk/by-label/linuxuk"
	search --set=root --file "$iso_path"
	loopback loop "$iso_path"
 	linux (loop)/arch/boot/x86_64/vmlinuz-linux img_dev=$img_path img_loop=$iso_path earlymodules=loop
	initrd (loop)/arch/boot/intel-ucode.img (loop)/arch/boot/amd-ucode.img (loop)/arch/boot/x86_64/initramfs-linux.img
	loopback --delete loop
}