menuentry "{{ title }}" {
      iso_path="/boot/iso/{{ filename }}"
      export iso_path
      loopback loop "$iso_path"
      root=(loop)
      configfile /boot/grub/grub.cfg
      loopback --delete loop
}