submenu "{{ title }}" --class {{ cls }}  {
    loadfont unicode
    if [ "${loop}" ]; then
      loopback --delete loop
    fi
    search --label --set=root MP-DATA
    boot_locale="locale.lang=en_US"
    boot_default="rootfstype=auto ro rd.luks=0 rd.lvm=0 rd.md=0 rd.dm=0 rd.live.image acpi_osi=Linux acpi_osi='!Windows 2012' acpi_backlight=vendor audit=0 logo.nologo"
    iso_path="/boot/iso/{{ filename }}"
    export iso_path
    #search --set=root --file "$iso_path"
    loopback loop "$iso_path"
    search --label --set=root MP-DATA    
    
    menuentry "Start OpenMandriva Lx Linux in live mode" --class {{ cls }} {
      bootoptions="$boot_default $boot_locale root=live:LABEL=MP-DATA boot=casper"
      linux (loop)/boot/vmlinuz0 $bootoptions
      initrd (loop)/boot/liveinitrd.img
    }
    menuentry "Install OpenMandriva Lx Linux" --class {{ cls }} {
      bootoptions="iso-scan/filename=$iso_path $boot_default root=live:LABEL=$cd_label $boot_locale quiet rhgb splash=silent systemd.unit=calamares.target"
      linux (loop)/boot/vmlinuz0 $bootoptions
      initrd (loop)/boot/liveinitrd.img
    }
    menuentry "Start OpenMandriva Lx Linux in live mode in basic graphics mode" --class {{ cls }} {
      bootoptions="iso-scan/filename=$iso_path $boot_default root=live:LABEL=$cd_label $boot_locale xdriver=vesa nomodeset plymouth.enable=0 vga=792 failsafe"
      linux (loop)/boot/vmlinuz0 $bootoptions
      initrd (loop)/boot/liveinitrd.img
    }
    menuentry "Install OpenMandriva Lx Linux in basic graphics mode" --class {{ cls }} {
      bootoptions="iso-scan/filename=$iso_path $boot_default root=live:LABEL=$cd_label $boot_locale xdriver=vesa nomodeset plymouth.enable=0 vga=792 systemd.unit=calamares.target"
      linux (loop)/boot/vmlinuz0 $bootoptions
      initrd (loop)/boot/liveinitrd.img
    }
    menuentry "Test memory with Memtest86+" --class {{ cls }} {
      bootoptions=""
      linux16 (loop)/boot/grub/memtest $bootoptions
    }
    loopback --delete loop
    search --label --set=root MP-DATA
}