menuentry "{{ title }}" {
      iso_path="/boot/iso/{{ filename }}"
      export iso_path
      loopback loop "$iso_path"
      root=(loop)
      #configfile /boot/grub/loopback.cfg

      loadfont unicode

      set color_normal=white/black
      set color_highlight=black/light-gray

      menuentry "Start Linux Mint 21.3 Cinnamon 64-bit" --class linuxmint {
            set gfxpayload=keep
            linux   /casper/vmlinuz  boot=casper username=mint hostname=mint quiet splash iso-scan/filename=${iso_path} --
            initrd  /casper/initrd.lz
      }
      menuentry "Start Linux Mint 21.3 Cinnamon 64-bit (compatibility mode)" {
            linux   /casper/vmlinuz  boot=casper username=mint hostname=mint noapic noacpi nosplash irqpoll nomodeset iso-scan/filename=${iso_path} --
            initrd  /casper/initrd.lz
      }
      menuentry "OEM install (for manufacturers)" {
            set gfxpayload=keep
            linux   /casper/vmlinuz  oem-config/enable=true only-ubiquity boot=casper username=mint hostname=mint quiet splash iso-scan/filename=${iso_path}--
            initrd  /casper/initrd.lz
      }
      grub_platform
      if [ "$grub_platform" = "efi" ]; then
      menuentry 'Boot from next volume' {
            exit 1
      }
      menuentry 'UEFI Firmware Settings' {
            fwsetup
      }
      menuentry 'Memory test' {
            linux   /boot/memtest64.efi
      }
      fi

      loopback --delete loop
}



