submenu "{{ title }}" {
  probe -u $root --set=rootuuid
  set imgdevpath="/dev/disk/by-uuid/$rootuuid"
  export imgdevpath rootuuid
  set isopath="/boot/iso"
  export isopath
  set isofile=$isopath/{{ filename }}
  export isofile
  echo $isopath

  menuentry "Start Linux Mint 21.3 Cinnamon 64-bit" {
        set gfxpayload=keep
        linux   /casper/vmlinuz  boot=casper username=mint hostname=mint quiet splash --
        initrd  /casper/initrd.lz
  }
  menuentry "Start Linux Mint 21.3 Cinnamon 64-bit (compatibility mode)" {
        linux   /casper/vmlinuz  boot=casper username=mint hostname=mint noapic noacpi nosplash irqpoll nomodeset --
        initrd  /casper/initrd.lz
  }
  menuentry "OEM install (for manufacturers)" {
        set gfxpayload=keep
        linux   /casper/vmlinuz  oem-config/enable=true only-ubiquity boot=casper username=mint hostname=mint quiet splash --
        initrd  /casper/initrd.lz
  }
}
