menuentry "{{ title }}" {
  probe -u $root --set=rootuuid
  set imgdevpath="/dev/disk/by-uuid/$rootuuid"
  export imgdevpath rootuuid
  set isopath="/boot/iso"
  export isopath
  set isofile=$isopath/{{ filename }}
  export isofile
  echo $isopath
  regexp --set=isoname "$isopath/(.*)" "$isofile"
  submenu "$isoname (loopback.cfg) ->" "$isofile" {
    iso_path="$2"
    export iso_path
    search --set=root --file "$iso_path"
    loopback loop "$iso_path"
    root=(loop)
    configfile /boot/grub/loopback.cfg
    loopback --delete loop
  }
}
