submenu "{{ title }}" {
      iso_path="/boot/iso/{{ filename }}"
      export iso_path
      loopback loop "$iso_path"
      root=(loop)
      menuentry "Start {{ title }}" {
            linux   /casper/vmlinuz  boot=casper username=mint hostname=mint quiet splash iso-scan/filename=${iso_path} --
            initrd  /casper/initrd.lz
      }
      menuentry "Start {{ title }} (compatibility mode)" {
            linux   boot=casper username=mint hostname=mint noapic noacpi nosplash irqpoll nomodeset iso-scan/filename=${iso_path} --
            initrd  /casper/initrd.lz
      }
}
