menuentry "{{ title }}" {
      iso_path="/boot/iso/{{ filename }}"
      export iso_path
      loopback loop "$iso_path"
      root=(loop)
      prefix=($root)/boot/grub
      source $prefix/grub.cfg
}