submenu "{{ title }}" --class {{ cls }} {
    loadfont unicode
    if [ "${loop}" ]; then
        loopback --delete loop    
    fi
    search --label --set=root MP-DATA
    iso_path="/boot/iso/{{ filename }}"
    export iso_path
    loopback loop "$iso_path"
    root=(loop)
    configfile /boot/grub/loopback.cfg
#    loadfont /boot/grub/font.pf2
#    color_normal=cyan/black
#    menu_color_highlight=yellow/redS
#    menu_color_normal=light-gray/black

    menuentry "fossapup64 9.5" --class {{ cls }} {
        linux (loop)/vmlinuz pfix=fsck pmedia=usbflash find_iso=${iso_path}
        initrd (loop)/initrd.gz
    }
    menuentry "fossapup64 9.5 - Copy SFS files to RAM" --class {{ cls }} {
        linux (loop)/vmlinuz pfix=copy,fsck pmedia=usbflash find_iso=${iso_path}
        initrd (loop)/initrd.gz
    }
    menuentry "fossapup64 9.5 - Don't copy SFS files to RAM" --class {{ cls }} {
        linux (loop)/vmlinuz pfix=nocopy,fsck pmedia=usbflash find_iso=${iso_path}
        initrd (loop)/initrd.gz
    }
    menuentry "fossapup64 9.5 - RAM only" --class {{ cls }} {
        linux (loop)/vmlinuz pfix=ram,fsck pmedia=usbflash find_iso=${iso_path}
        initrd (loop)/initrd.gz
    }
    menuentry "fossapup64 9.5 - No X" --class {{ cls }} {
        linux (loop)/vmlinuz pfix=nox,fsck pmedia=usbflash find_iso=${iso_path}
        initrd (loop)/initrd.gz
    }
    menuentry "fossapup64 9.5 - No KMS (Kernel modesetting)" --class {{ cls }} {
        linux (loop)/vmlinuz nomodeset pfix=fsck pmedia=usbflash find_iso=${iso_path}
        initrd (loop)/initrd.gz
    }
    menuentry "fossapup64 9.5 - Ram Disk SHell" --class {{ cls }} {
        linux (loop)/vmlinuz pfix=rdsh pmedia=usbflash find_iso=${iso_path}
        initrd (loop)/initrd.gz
    }
    loopback --delete loop
    search --label --set=root MP-DATA
}
