submenu "{{ title }}" {
    isofile="/boot/iso/{{ filename }}"
    export isofile
    loopback loop "${isofile}"
    root=(loop)

    menuentry "Start {{ title }}" --class fedora --class gnu-linux --class gnu --class os {
        linux (loop)/images/pxeboot/vmlinuz root=live:CDLABEL=Fedora-WS-Live-41-1-4  rd.live.image quiet rhgb iso-scan/filename=$isofile
        initrd (loop)/images/pxeboot/initrd.img
    }
    menuentry "Test this media & start {{ title }}" --class fedora --class gnu-linux --class gnu --class os {
        linux (loop)/images/pxeboot/vmlinuz root=live:CDLABEL=Fedora-WS-Live-41-1-4  rd.live.image rd.live.check quiet iso-scan/filename=$isofile
        initrd (loop)/images/pxeboot/initrd.img
    }
    menuentry "Start {{ title }} in basic graphics mode" --class fedora --class gnu-linux --class gnu --class os {
        linux (loop)/images/pxeboot/vmlinuz root=live:CDLABEL=Fedora-WS-Live-41-1-4  rd.live.image nomodeset vga=791 quiet rhgb iso-scan/filename=$isofile
        initrd (loop)/images/pxeboot/initrd.img
    }
}
