submenu "{{ title }}" --class {{ cls }} {
    loadfont unicode
    if [ "${loop}" ]; then
        loopback --delete loop
    fi
    search --label --set=root MP-DATA
    loopback loop "/boot/iso/{{ filename }}"
    root=(loop)
    
    menuentry "Start Fedora-Workstation-Live" --class fedora --class gnu-linux --class gnu --class os {
        linux /boot/x86_64/loader/linux quiet rhgb  root=live:CDLABEL=Fedora-WS-Live-42 rd.live.image iso-scan/filename=${iso_path}
        initrd /boot/x86_64/loader/initrd
    }
    menuentry "Test this media & start Fedora-Workstation-Live" --class fedora --class gnu-linux --class gnu --class os {
        linux /boot/x86_64/loader/linux quiet rhgb  root=live:CDLABEL=Fedora-WS-Live-42 rd.live.image rd.live.check iso-scan/filename=${iso_path}
        initrd /boot/x86_64/loader/initrd
    }
}