submenu "{{ title }}" {
    iso_path="/boot/iso/{{ filename }}"
    export iso_path
    loopback loop "$iso_path"
    probe --set rootuuid --fs-uuid ($root)
    root=(loop)

    menuentry 'Tails 5.22' --id 'live' {
        echo "Loading the Linux kernel..."
        linux /live/vmlinuz initrd=/live/initrd.img boot=live config live-media=removable nopersistence noprompt timezone=Etc/UTC splash noautologin module=Tails slab_nomerge slub_debug=FZ mce=0 vsyscall=none init_on_free=1 mds=full,nosmt page_alloc.shuffle=1 randomize_kstack_offset=on FSUUID=${rootuuid} quiet
        echo "Loading the initramfs..."
        initrd /live/initrd.img
        echo "Booting..."
        boot
    }

    menuentry 'Tails 5.22 (Troubleshooting Mode)' --id 'livefailsafe' {
            echo "Loading the Linux kernel..."
            linux /live/vmlinuz initrd=/live/initrd.img boot=live config live-media=removable nopersistence noprompt timezone=Etc/UTC splash noautologin module=Tails slab_nomerge slub_debug=FZ mce=0 vsyscall=none init_on_free=1 mds=full,nosmt page_alloc.shuffle=1 randomize_kstack_offset=on FSUUID=${rootuuid} noapic noapm nodma nomce nolapic nosmp
            echo "Loading the initramfs..."
            initrd /live/initrd.img
            echo "Booting..."
            boot
    }

    menuentry 'Tails 5.22 (External Hard Disk)' --id 'livenonremovable' {
            echo "Loading the Linux kernel..."
            linux /live/vmlinuz initrd=/live/initrd.img boot=live config nopersistence noprompt timezone=Etc/UTC splash noautologin module=Tails slab_nomerge slub_debug=FZ mce=0 vsyscall=none init_on_free=1 mds=full,nosmt page_alloc.shuffle=1 randomize_kstack_offset=on FSUUID=${rootuuid} quiet
            echo "Loading the initramfs..."
            initrd /live/initrd.img
            echo "Booting..."
            boot
    }
    loopback --delete loop
}